---
import "../styles/global.css";

import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import Features from '../components/Features.astro';
import AppPreview from '../components/AppPreview.astro';
import CallToAction from '../components/CallToAction.astro';

---

<Layout title="Nostos - Your Travel Diary Companion">
  <main>
    <HeroSection />
    <Features />
    <AppPreview />
    <CallToAction />
  </main>
</Layout>
