---
import "../styles/global.css";

import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
import AboutUs from '../components/AboutUs.astro';
import FAQ from '../components/FAQ.astro';
import HeroSection from '../components/HeroSection.astro';
import Features from '../components/Features.astro';
import AppPreview from '../components/AppPreview.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Nostos - Preserve Your Memories">
    <Navbar />
    <main>
        <HeroSection />
        <Features />
        <AboutUs />
        <AppPreview />
        <FAQ />
        <CallToAction />
    </main>
    <Footer />
</Layout>
