---
---
<section class="about-section" id="about">
  <div class="container">
    <div class="about-grid">
      <div class="about-content" data-aos="fade-right">
        <h2 class="gradient-text">About Nostos</h2>
        <p class="text-lg mt-4">
          Nostos is more than just an app - it's your personal time capsule. We're dedicated to helping people preserve and share their most precious memories in meaningful ways.
        </p>
        <p class="mt-4">
          Our team of passionate developers and designers work tirelessly to create an intuitive and beautiful experience for our users, making memory preservation accessible to everyone.
        </p>
      </div>
      <div class="about-image" data-aos="fade-left">
        <img 
          src="/aboutUs.jpg"
          alt="About Nostos" 
          class="img-fluid img-round shadow"
        >
      </div>
    </div>
  </div>
</section>